
@{
    ViewData["Title"] = "EditAnswer";
}

<h1>EditAnswer</h1>

<form method="post" action="/QandA/saveanswer">
    <input type="hidden" name="questionid" value="@ViewData["questId"]" />
    <input type="hidden" name="username" value="@DAL.CurrentUser" />
    <input type="hidden" name="posted" value="@System.DateTime.Now" />
    Answer:
    <br />
    <textarea id="detail" name="detail" rows="10" cols="50">Write your answer here!</textarea>
    <br />
    <input type="submit" value="Save" />

</form>