@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome DevBuilders!</h1>
    <p>Here we explore the possibility of an FoC purposed StackOverFlow style QandA site</p>
    <h2>Currently You can login, add a question edit a question view answer<br/>
    The answers section is not working, I cant get the logic to work correctly.<br/>
    It will not let you edit the answer unless you are the user who created it, and you have<br/>
    to be logged in to submit an answer.  Currently just test fields in the db<br/>
    Char limits are working, I just cant figure out why answers will not submit.<br />
    DB is db.text under models.</h2>
</div>
